<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let order of orders; let index = index" id="static-{{index}}">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <span>{{order.number}} : {{order.product}}</span>
        <button ngbPanelToggle class="btn btn-primary" (click)="onSelect(order)">{{ opened ? '-' : '+'}}</button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-order-detail [order]="selectedOrder"></app-order-detail>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
